body{
  background-image: url(./Imagens/teste-1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 0px 30px;
}
.navbar{
    background-color: #fcbc03;
    text-align: center;
}

#cabecalho .nav .nav-link.active{
    background-color: #fae6c8;
    color: black;
    font-family: 'Roboto', sans-serif;
    height: 40px;
}

#cabecalho .nav .nav-link{
    color: black;
    font-family: 'Roboto', sans-serif;
}
.navbar-toggler{
    border: none;
    font-size: 25px;
}
#menu-navegacao{
    margin-top: 10px;
}
.container .row img{
    margin-top: -100px;
    
}
.btn-1{
    background-color: #ffda7d;
    margin-top: -7px;
    font-weight: 700;
}

/*CADASTRO*/

.form-1{
  background-color: #fffcf8;
  border: 1px solid rgb(238, 238, 238);
  margin-top: -20px;
  border-radius: 5%;
  padding: 22px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}
.btn-2{
  background-color: #fcbc03;
  color: white;
  margin-top: 10px;
}
.btn-2:hover{
  color: white;
  background-color:  #ffc516;
}
/*ESCOLHA SEU PLANO*/

.form-2{
  @media (max-width: 768px){
    margin-top: 20px;
  }
}