body{
    background-position: 0px 0px;
    background-size: cover;
    background-image: url(.//Imagens/teste-1.jpg);
    background-repeat: no-repeat;
    @media (max-width: 768px){
        height: 520px;
    }
}

.navbar{
    background-color: #fcbc03;
    text-align: center;
}

#cabecalho .nav .nav-link.active{
    background-color: #fae6c8;
    color: black;
    font-family: 'Roboto', sans-serif;
    height: 40px;
}

#cabecalho .nav .nav-link{
    color: black;
    font-family: 'Roboto', sans-serif;
}
.navbar-toggler{
    border: none;
    font-size: 25px;
}
#menu-navegacao{
    margin-top: 10px;
}
.container .row img{
    margin-top: -100px;
    
}
.btn{
    background-color: #ffda7d;
    margin-top: -7px;
    font-weight: 700;
}
#login{
    width: 1086px;
    height: 458px;
    

    @media (max-width: 768px){
        background-size: cover;
        background-repeat: no-repeat;
        background-position: -5px 0px;
        background-image: url(./Imagens/background-2.jpg);
        height: 100%;
        width: 100%;
    }
}
.form-1{
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}
.btn-1{
background-color: #fcbc03;
color: white;
}
.btn-1:hover{
  background-color: #ffc516;
  color: white;
}
  footer {
    background-color: #000000;
    color: white;
    text-align: center;
    font-size: 13px;
    padding: 1em 0;
    margin-top: -45px;
}