body{
    background-position: 0px 53px;
    background-size: cover;
    background-image: url(/Imagens/background-login.jpg);
    background-repeat: no-repeat;
    overflow-x: hidden;
    @media (max-width: 768px){
        background: none;
        background-color: #fffcf3;
    }
}

.navbar{
    background-color: #fcbc03;
    text-align: center;
}

#cabecalho .nav .nav-link.active{
    background-color: #fae6c8;
    color: black;
    font-family: 'Roboto', sans-serif;
    height: 40px;
}

#cabecalho .nav .nav-link{
    color: black;
    font-family: 'Roboto', sans-serif;
}
.navbar-toggler{
    border: none;
    font-size: 25px;
}
#menu-navegacao{
    margin-top: 10px;
}
.container .row img{
    margin-top: -100px;
    
}
.btn{
    background-color: #ffda7d;
    margin-top: -7px;
    font-weight: 700;
}
#login{
margin-top: 100px;
    
}


.form-1{
    background-color: #fffbee;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}
.btn-1{
    margin-top: 15px;
    background-color: #fcbc03;
    color: white;
    height: 40px;
}
.btn-1:hover{
    background-color: #ffc516;
    color: white;

}