@import url('https://fonts.googleapis.com/css2?family=Roboto+Laje:wght@500&display=swap');

.navbar{
    background-color: #fcbc03;
    text-align: center;
}

#cabecalho .nav .nav-link.active{
    background-color: #fae6c8;
    color: black;
    font-family: 'Roboto', sans-serif;
    height: 40px;
}

#cabecalho .nav .nav-link{
    color: black;
    font-family: 'Roboto', sans-serif;
}
.navbar-toggler{
    border: none;
    font-size: 25px;
}
#menu-navegacao{
    margin-top: 10px;
}
.container .row img{
    margin-top: -100px;
    
}
.img-carousel{
    @media (max-width: 768px){
        height: 100%;
        width: 100%;
    }
}
.section title{
    font-family: "Roboto", sans-serif;
}

.section-title span{
    color: #ffba0d;
}

#sobre{
    background-color: #ffe8ac;
}

.foto-sobre{
    padding-top: 80px;
    border-radius: 100%;
}

#eventos img{
    margin-top: -60px;
}

#eventos h3{
    margin-top: -60px;
}

#eventos i{
    font-size: 25px;
}

.plan {
    flex: 1;
    border: 1px solid #ccc;
    padding: 1.5em;
    text-align: center;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin-top: 10px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.plan:hover {
    transform: translateY(-10px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.recommended {
    border: 2px solid #fcbc03;
    box-shadow: 0 2px 5px #fcbc03;
}
.recommended:hover{
    box-shadow: 0 5px 10px #fcbc03;
}
.price {
    font-size: 1.5em;
    color: #e6a603;
    margin: 0.5em 0;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    margin: 0.5em 0;
}

.button-planos a{
    text-decoration: none;
    list-style: none;
    color: white;
    font-weight: bold;
}
.button-planos {
    background-color: #fcbc03;
    color: white;
    border: none;
    padding: 0.5em 1em;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.button-planos:hover {
    background-color: #e6a603;
}

.img-inicio{
    padding-top: 90px;
}

.img-2{
    @media (max-width: 768px){
        padding-top: 100px;
    }
}

.accordion-button.active {
    background-color: #ffc61d; 
    color: #000000;
    font-weight: 600;
}

.accordion-body{
    background-color: #ffda7d;
    color: black;
}

.btn{
    background-color: #ffda7d;
    margin-top: -7px;
    font-weight: 700;
}


footer {
    background-color: #000000;
    color: white;
    text-align: center;
    font-size: 13px;
    padding: 1em 0;
    margin-top: -7px;
}